@CHARSET "UTF-8";

body{
	background:url(../images/bg_universal.png);
}

/**
 * 主页三个主要部分的div样式
 **/
.main-body .title, .main-body .erweima, .main-body .directlink{
	margin:10px auto;
	width:300px;
	text-align:center;
	color:white;
}

/**
 * 顶部标题
 **/
.main-body .title{
	margin-top:100px;
	font-size:22px;
	color: rgb(242, 242, 242);
}

/**
 * 中部二维码图片
 **/
.main-body .erweima{
	padding: 10px 0px;
}
.main-body .erweima table tr{
	height:50px;
}
.main-body .erweima input[type="text"]{
	height: 30px;
	width: 150px;
	padding: 3px;
	font-size: 20px;
	border-radius: 5px;
	float:left;
}


/**
 * 底部直接跳转链接
 **/
.main-body .directlink{
}
.main-body .directlink a{
	text-decoration:none;
	color: rgb(182, 182, 182);
}
.main-body .directlink a:hover{
	color: rgb(242, 242, 242);
}

.main-body .directlink .directlink-left{
	background: url(../images/bg_login_scan_left.png) no-repeat scroll 0 0 transparent;
	height: 48px;
	width: 26px;
	float: left;
}
.main-body .directlink .directlink-middle{
	background: url(../images/bg_login_scan_middle.png)  scroll 0 0 transparent;
	height:48px;
	width: 248px;
	float:left;
	text-align: center;
	font-size: 13px;
	color: rgb(174, 174, 174);
}
.main-body .directlink .directlink-right{
	background: url(../images/bg_login_scan_right.png) no-repeat scroll 0 0 transparent;
	float: left;
	height: 48px;
	width: 26px;
}
